body {
    font-family: Verdana;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}
h1 {
    font-variant: all-small-caps;
    background-color: red;
}
a:hover{
    border: 1px solid red;
}
.stippeltjesrand {
    border: 1px dotted;
}
a::before{
    width: 0;
    height: 22px;
    content: "";
    background-image: url("../opdrachten/gfx/logo2.png");
    background-size: 100% 100%;
    position: absolute;
    padding-left: 22px;
    margin-left: -22px;


}
a {

    padding-left: 22px;
}
