img {
    width: 100px;
    display: block;
}
a {
    color: darkblue;
    text-decoration: none;
}
a:visited {
    color: #770c0c;
}
a:hover {
    color: white;
    text-decoration: underline;
}
body {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    background: url("../gfx/eu4map.png") fixed;

}
div[class*="col"] {
    height: 200px;
    box-sizing: border-box;
    border: 10px solid white;
}
h1 {
    margin: 90px 50px 50px 5px;
    padding: 5px;
    background-color: darkgray;
    font-size: 50px;
    width: 700px;
    text-align: center;
}
section {
    background-color: gray;
    margin: 5px;
    padding: 5px;

}
#profielfoto {
    width: 200px;
    margin-left: 50px;
 }
aside {
    background-color: silver;
    font-size: 15px;
    width: 500px;
    margin: 5px;
    padding: 5px;
}
thead {
    background-color: deepskyblue;
}
.vrienden thead{
    background-color: forestgreen;
    border: black solid;
}
th,td {
    border: 1px solid black;
    padding: 8px;
}

table{
    border: black solid;
    width: 100%;
    border-collapse: collapse;

}
td {
    padding: 2px;
}
.onbekend {
     background-color: red;
 }
.homepage tr:nth-child(even){
    background-color: #f2f2f2;
}

#nav {
    float: none;
    font-size: 20px;
    background-color: black;
    margin: 5px;
    padding: 5px;
    text-align: center;

}
nav a {
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    background-color: #00ffc8;
    padding: 5px;
    margin: 0 5px 0 2px;
}
nav a:visited {
    color: rgba(66, 4, 4, 0.61);
}
nav a:hover {
    color: white;
    text-decoration: underline;
}
