body {
    font-family: Arial, Helvetica, sans-serif;
}
.myGray {
    background-color: gray;
}
.myLightGray {
    background-color: lightgray;
}
div[class*="col"] {
    height: 200px;
    box-sizing: border-box;
    border: 10px solid white;
}
p {
    font-size: 3em;
    font-weight: bold;
}