html, body{
    height: 99%;
    width: 99%;
    text-align: center;
}

.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}
.grid {
    min-height: 100%;
    display: grid;
    grid-template-areas:    "header header header header header"
                            ". navigation main aside ."
                            "footer footer footer footer footer";
    grid-gap: 2px;
    grid-template-columns: 1fr 2fr 14fr 2fr 1fr;
    grid-template-rows: 3fr 14fr 3fr;
}
.gridHeader {
    background-color: rgb(220,214,254);
    grid-area: header;
}
.gridNav {
    background-color: rgb(198,192,255);
    grid-area: navigation;
}
.gridMain {
    background-color: rgb(249,246,210);
    grid-area: main;
}
.gridAside {
    background-color: rgb(212,255,209);
    grid-area: aside;
}
.gridFooter {
    background-color: rgb(255,209,209);
    grid-area: footer;
}
.grid > header,
.grid > nav,
.grid > aside,
.grid > footer{
    display: inline-grid;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 786px){
    .grid {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas:"header"
                            "navigation"
                            "main"
                            "aside"
                            "footer";
        grid-gap: 2px;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 14fr 2fr 2fr;
    }
}